<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/user/editMHS">Edit Data diri</a></li>
                    <li><a href="/bimbingan/UImhs_edit">Lihat Data Bimbingan</a></li>
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
            <h3>Edit User Mahasiswa</h3><br>
            <a href="/"><button>Kembali</button></a><br><br>
            <div class="container-table">
            <form action="/user/updateMHS/{{ obj.id_user }}" method="POST">
                <div class="form-group">
                    <div class="group no-animation"><br><br>
                        <input type="text" id="username" name="username" required value="{{ obj.username }}" readonly>
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="username">Username :</label>
                    </div>
                    <div class="group">
                        <input type="text" id="password" name="password" required value="{{ obj.password }}">
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="password">Password :</label>
                    </div>
                    <div class="group">
                        <input type="text" id="nama_lengkap" name="nama_lengkap" required value="{{ obj.nama_lengkap }}">
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="nama_lengkap">Nama Lengkap :</label>
                    </div>
                    <div class="group">
                        <input type="text" id="alamat" name="alamat" required value="{{ obj.alamat }}">
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="alamat">Alamat :</label>
                    </div>
                    <div class="group">
                        <input type="text" id="email" name="email" required value="{{ obj.email }}">
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="email">Email :</label>
                    </div>
                    <div class="group no-animation"><br><br>
                        <input type="text" id="nim" name="nim" value="{{ obj.nim }}"readonly>
                        <span class="highlight"></span><span class="bar"></span>
                        <label for="nim">NIM :</label>
                    </div>
                    <div class="group">
                        <div class="select-container"><br><br>
                        <select id="jk" name="jk" required value="{{ obj.jk }}">
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        </div>
                        <label for="jk">Jenis Kelamin :</label>
                    </div>
                </div>
                <input type="submit" value="Submit" class="submit-button">
            </form>
            </div>
        </section>
    </div>
</body>
</html>