<!DOCTYPE html>
<html>
    <head>
        <title>Data User</title>
        <link rel="stylesheet" href="/static/index.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/user">Lihat Data Keseluruhan User</a></li>
                    <li><a href="/mahasiswa">Lihat Data Mahasiswa</a></li>
                    <li><a href="/dosen">Lihat Data Dosen</a></li>
                    <li><a href="/mk">Lihat Data Mata Kuliah</a></li>
                    <li><a href="/admin">Lihat Data Admin</a></li>
                    <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                    <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                    <li><a href="/kalender_akademik">Lihat Kalender Akademik</a></li>
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
            <section class="container-content">
                <h3> Data User</h3><br>
                <a href="/user/create"><button>Tambah</button></a><br>
                <a href="/"><button>Kembali</button></a><br>
            <div class="container-table">
                <table>
                    <thead>
                        <tr>
                            <th>ID USER</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>Nama_lengkap</th>
                            <th>Alamat</th>
                            <th>E-mail</th>
                            <th>NIM</th>
                            <th>NIDN</th>
                            <th>Jenis Kelamin</th>
                            <th colspan="2">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in data %}
                        <tr>
                            <td>{{ obj.id_user }}</td>
                            <td>{{ obj.username }}</td>
                            <td>{{ obj.password }}</td>
                            <td>{{ obj.role }}</td>
                            <td>{{ obj.nama_lengkap }}</td>
                            <td>{{ obj.alamat }}</td>
                            <td>{{ obj.email }}</td>
                            <td>{{ obj.nim }}</td>
                            <td>{{ obj.nidn }}</td>
                            <td>{{ obj.jk }}</td>
                            <td><a href="/user/edit/{{ obj.id_user }}" class="edit-button">Edit</a></td>
                            <td><a href="/user/delete/{{ obj.id_user }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </section>
        </aside>
    </body>
</html>