<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    {% if session['role'] == 'admin' %}
                        <li><a href="/user">Lihat Data Keseluruhan User</a></li>
                        <li><a href="/mahasiswa">Lihat Data Mahasiswa</a></li>
                        <li><a href="/dosen">Lihat Data Dosen</a></li>
                        <li><a href="/mk">Lihat Data Mata Kuliah</a></li>
                        <li><a href="/admin">Lihat Data Admin</a></li>
                        <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                        <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                        <li><a href="/kalender_akademik">Lihat Kalender Akademik</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                    {% elif session['role'] == 'dosen' %}
                        <li><a href="/user/editDSN">Edit Data diri</a></li>
                        <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                        <li><a href="/bimbingan/mhs">Lihat Data Bimbingan</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                    {% elif session['role'] == 'mahasiswa' %}
                        <li><a href="/user/editMHS">Edit Data diri</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                        <li>
                                {% for obj in data %}
                                    <li><a href="/bimbingan/UIdsn_edit/{{ obj.bimbingan_id }}">Bimbingan ID: {{ obj.bimbingan_id }}</a></li>
                                {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
            <div class="container-table">
                <table>
                    <thead>
                        <h2>Selamat Datang, <span id="username">{{ nama_lengkap }}</span></h2>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</body>
</html>
