<!DOCTYPE html>
<html>
    <head>
        <title>Tambah KRS</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h3>Tambah KRS</h3>
        <a href="/KRS"><button>Kembali</button></a><br><br>
        <form action="/KRS/store" method="POST">
            <label for="jdwl_id">ID Jadwal:</label><br>
            <input type="text" id="jdwl_id" name="jdwl_id" required><br>
            <br>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </body>
</html>