<!DOCTYPE html>
<html>
    <head>
        <title>Edit Pertemuan</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h3>Edit Pertemuan</h3>
        <a href="/pertemuan"><button>Kembali</button></a><br><br>
        <form action="/pertemuan/update/{{ obj.pertemuan_id }}" method="POST">
            <label for="dosen_id">ID Dosen:</label><br>
            <input type="text" id="dosen_id" name="dosen_id" required value="{{ obj.dosen_id }}"><br>
            <label for="mhs_id">ID Mahasiswa:</label><br>
            <input type="text" id="mhs_id" name="mhs_id" required value="{{ obj.mhs_id }}"><br>
            <label for="hari">Hari:</label><br>
            <input type="text" id="hari" name="hari" required value="{{ obj.hari}}"><br>
            <br>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </body>
</html>