<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data Pertemuan</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    {% if session['role'] == 'admin' %}
                        <li><a href="/user">Lihat Data Keseluruhan User</a></li>
                        <li><a href="/mahasiswa">Lihat Data Mahasiswa</a></li>
                        <li><a href="/dosen">Lihat Data Dosen</a></li>
                        <li><a href="/mk">Lihat Data Mata Kuliah</a></li>
                        <li><a href="/admin">Lihat Data Admin</a></li>
                        <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                        <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                        <li><a href="/kalender_akademik">Lihat Kalender Akademik</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                    {% elif session['role'] == 'dosen' %}
                        <li><a href="/user/editDSN">Edit Data diri</a></li>
                        <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                        <li><a href="/bimbingan/mhs">Lihat Data Bimbingan</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                    {% elif session['role'] == 'mahasiswa' %}
                        <li><a href="/user/editMHS">Edit Data diri</a></li>
                        <li><a href="/pertemuan">Lihat Pertemuan</a></li>
                        <li><a href="/bimbingan/UImhs_edit">Lihat Data Bimbingan</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
        <h3> Data Pertemuan</h3>
        <a href="/pertemuan/create"><button>Tambah</button></a><br>
        <a href="/"><button>Kembali</button></a><br><br>
        <div class="container-table">
            <table>
                <thead>
                    <tr>
                    <th>ID Pertemuan</th>
                    <th>ID Dosen</th>
                    <th>ID Mahasiswa</th>
                    <th>Hari</th>
                    <th>Waktu</th>
                    <th>Jenis</th>
                    <th>Absensi</th>
                    <th colspan="2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.pertemuan_id }}</td>
                        <td>{{ obj.dosen_id }}</td>
                        <td>{{ obj.mhs_id }}</td>
                        <td>{{ obj.hari }}</td>
                        <td>{{ obj.waktu }}</td>
                        <td>{{ obj.jenis }}</td>
                        <td>{{ obj.absensi }}</td>
                        <td><a href="/pertemuan/edit/{{ obj.pertemuan_id }}" class="edit-button">Edit</a></td>
                        <td><a href="/pertemuan/delete/{{ obj.pertemuan_id }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
        </section>
    </div>
</body>
</html>