<!DOCTYPE html>
<html>
    <head>
        <title>Edit Bimbingan</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/user">Lihat Data Keseluruhan User</a></li>
                    <li><a href="/mahasiswa">Lihat Data Mahasiswa</a></li>
                    <li><a href="/dosen">Lihat Data Dosen</a></li>
                    <li><a href="/mk">Lihat Data Mata Kuliah</a></li>
                    <li><a href="/admin">Lihat Data Admin</a></li>
                    <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                    <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                    <li><a href="/kalender_akademik">Lihat Kalender Akademik</a></li>
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
            <h3>Tampilan Edit Dosen Bimbingan</h3>
            <a href="/bimbingan/dsn"><button>Kembali</button></a><br><br>
            <div class="container-table">
                <form action="/bimbingan/update/{{ obj.bimbingan_id }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="group no-animation"><br><br>
                            <input type="text" id="dosen_id" name="dosen_id" value="{{ obj.dosen_id }}" readonly>
                            <label for="dosen_id">ID Dosen:</label>
                    <div class="form-group">
                        <div class="group no-animation"><br><br>
                            <input type="text" id="mhs_id" name="mhs_id" value="{{ obj.mhs_id }}" readonly>
                            <label for="mhs_id">ID Mahasiswa:</label>
                        </div>
                        <div class="group"><br><br>
                            <input type="datetime-local" id="waktu" name="waktu" required value="{{ obj.waktu }}">
                            <span class="highlight"></span><span class="bar"></span>
                            <label for="waktu">Waktu:</label>
                        </div><br>
                        <div class="group">
                            <input type="text" id="bimbingan_ke" name="bimbingan_ke" required value="{{ obj.bimbingan_ke }}">
                            <span class="highlight"></span><span class="bar"></span>
                            <label for="bimbingan_ke">Bimbingan Ke:</label>
                        </div>
                        <div class="group"><br><br>
                            {% if obj.skripsi %}
                                <p>File skripsi Saat Ini:</p>
                                <a href="{{ url_for('static', filename='uploads/' ~ obj.skripsi) }}" target="_blank">{{ obj.skripsi }}</a>
                            {% endif %}
                            <input type="file" id="skripsi" name="skripsi" required value="{{ obj.skripsi }}">
                            <span class="highlight"></span><span class="bar"></span>
                            <label for="skripsi">Skripsi:</label>
                        </div>
                        <div class="group">
                            <input type="text" id="note" name="note" required value="{{ obj.note }}">
                            <span class="highlight"></span><span class="bar"></span>
                            <label for="note">Catatan:</label>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="submit-button">
                </form>
            </div>
        </section>
    </div>
</body>
</html>