<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data Bimbingan</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/user/editDSN">Edit Data diri</a></li>
                    <li><a href="/pubdosen/mhs">Lihat Publikasi Dosen</a></li>
                    <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
            <div class="header">
                <h1>Bimbingan Skripsi Online</h1>
            </div>
            <div class="nav-menu">
                <a href="/bimbingan/create"><button>Tambah</button></a>
                <a href="/bimbingan"><button>Kembali</button></a>
            </div>
            <div class="container-table">
                <h2>Daftar Proposal</h2><br>
                <table>
                    <thead>
                        <tr>
                            <th>ID Bimbingan</th>
                            <th>Nama Mahasiswa</th>
                            <th>NIM</th>
                            <th>Waktu</th>
                            <th>Bimbingan Ke</th>
                            <th>Skripsi</th>
                            <th>Note</th>
                            <th colspan="3">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in data %}
                        <tr>
                            <td>{{ obj.bimbingan_id }}</td>
                            <td>{{ obj.nama_lengkap }}</td>
                            <td>{{ obj.nim }}</td>
                            <td>{{ obj.waktu }}</td>
                            <td>{{ obj.bimbingan_ke }}</td>
                            <td>
                                <a href="{{ obj.skripsi }}" download onclick="downloadFile('{{ obj.skripsi }}')">Download PDF</a>
                            </td>
                            <td>{{ obj.note }}</td>
                            <td><a href="/bimbingan/edit/{{ obj.bimbingan_id }}" class="edit-button">Edit</a></td>
                            <td><a href="/bimbingan/delete/{{ obj.bimbingan_id }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <script>
        function downloadFile(url) {
            const link = document.createElement('a');
            link.href = url;
            link.download = url.split('/').pop();
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>
</html>