<!DOCTYPE html>
<html>
    <head>
        <title>Data krs</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h3> Data krs</h3>
        <a href="/krs/create"><button>Tambah</button></a>
        <a href="/"><button>Kembali</button></a><br><br>
        <table>
            <thead>
                <tr>
                    <th>krs_id</th>
                    <th>jdwl_id</th>
                    <th colspan="2">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                <tr>
                    <td>{{ obj.krs_id }}</td>
                    <td>{{ obj.jdwl_id }}</td>
                    <td><a href="/krs/edit/{{ obj.krs_id }}" class="edit-button">Edit</a></td>
                    <td><a href="/krs/delete/{{ obj.krs_id }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>