<!DOCTYPE html>
<html>
    <head>
        <title>Edit KRS</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h3>Edit KRS</h3>
        <a href="/KRS"><button>Kembali</button></a><br><br>
        <form action="/KRS/update/{{ obj.krs_id }}" method="POST">
            <label for="krs_id">ID KRS:</label><br>
            <input type="text" id="krs_id" name="krs_id" required value="{{ obj.krs_id }}"><br>
            <br>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </body>
</html>