<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data Mahasiswa</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/user">Lihat Data Keseluruhan User</a></li>
                    <li><a href="/mahasiswa">Lihat Data Mahasiswa</a></li>
                    <li><a href="/dosen">Lihat Data Dosen</a></li>
                    <li><a href="/mk">Lihat Data Mata Kuliah</a></li>
                    <li><a href="/admin">Lihat Data Admin</a></li>
                    <li><a href="/pubdosen">Lihat Publikasi Dosen</a></li>
                    <li><a href="/bimbingan">Lihat Data Bimbingan</a></li>
                    <li><a href="/kalender_akademik">Lihat Kalender Akademik</a></li>
                </ul>
            </nav>
            <div class="logout">
                <box-icon><a href="/login"><i class='bx bx-log-out'></i>&nbsp;&nbsp;Log out</a></box-icon>
            </div>
        </aside>
        <section class="container-content">
        <h3> Data Mahasiswa</h3><br>
        <a href="/mahasiswa/create"><button>Tambah</button></a><br>
        <a href="/"><button>Kembali</button></a><br>
        <div class="container-table">
            <table>
                <thead>
                    <tr>
                        <th>ID MAHASISWA</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Program Studi</th>
                        <th colspan="2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.mhs_id }}</td>
                        <td>{{ obj.nim }}</td>
                        <td>{{ obj.nama_lengkap }}</td>
                        <td>{{ obj.prodi }}</td>
                        <td><a href="/mahasiswa/edit/{{ obj.mhs_id }}" class="edit-button">Edit</a></td>
                        <td><a href="/mahasiswa/delete/{{ obj.mhs_id }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </section>
    </div>
</body>
</html>